@import '../variables';

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.stars {
    background: black url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png') repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -webkit-animation: move-background 70s linear infinite;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png') repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -webkit-animation: move-background 150s linear infinite;
    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

.lune {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}

@keyframes move-background {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(1000px, 0, 0);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(1000px, 0, 0);
    }
}

@-moz-keyframes move-background {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }

    to {
        -moz-transform: translate3d(1000px, 0, 0);
    }
}

@-ms-keyframes move-background {
    from {
        -ms-transform: translate3d(0, 0, 0);
    }

    to {
        -ms-transform: translate3d(1000px, 0, 0);
    }
}

@-o-keyframes move-background {
    from {
        -o-transform: translate3d(0, 0, 0);
    }

    to {
        -o-transform: translate3d(1000px, 0, 0);
    }
}