@import '../variables';
@import '../mixins';

.header {
    color: $color-text;
    padding: $spacing-medium 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: auto;
    padding-right: $spacing-xxlarge;
    padding-top: $spacing-large;

    &__container {
        @include flex-center(row, space-between, center);
        background: rgba(59, 58, 58, 0.7);
        border-radius: 5px;
        padding: 10px;
        max-width: 1200px;
        margin: 0;
    }

    &__nav {
        display: flex;
        gap: $spacing-medium;
        justify-content: flex-end;
    }

    &__link {
        color: $color-text;
        font-size: $font-size-base;
        text-transform: uppercase;
        padding: $spacing-small $spacing-medium;
        transition: color 0.3s ease, background-color 0.3s ease;
        border-radius: 4px;

        &:hover,
        &:focus {
            color: $color-background;
            background-color: $color-accent;
        }
    }
}
