@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@keyframes moveVertically {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.text-animation {
    animation: moveVertically 3s ease-in-out infinite;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 1rem;
}

.attention {
    color: red;
    margin-top: 10px;
}