@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveVertically {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.text-animation {
    animation: moveVertically 3s ease-in-out infinite;
}